# Build folder
build/

# Exclude compile_commands.json if copied to root
compile_commands.json

# Exclude clangd index files
.cache

# Exclude Ozone user files
*.jdebug.user

# Exclude Mac junk files
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
